<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Фильтр</h1>
    <form method="get" th:action="@{'/products'}">
        <input class="form-control" th:value="${param.min_cost != null ? param.min_cost : ''}" type="number"
               placeholder="Минимальная цена " name="min_cost"/>
        <input class="form-control" th:value="${param.max_cost != null ? param.max_cost : ''}" type="number"
               placeholder="Максимальная цена " name="max_cost"/>
        <button class="btn btn-primary" type="submit">Найти</button>
    </form>
    <h1>Список продуктов</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td th:text="${p.title}"/>
            <td th:text="${p.cost}"/>
            <td>
                <a class="btn btn-danger" th:href="@{'/products/delete/' + ${p.id}}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h1>Добавление нового продукта</h1>
    <form th:action="@{'/products/add'}" method="post">
        <label>id</label>
        <input type="number" name="id">
        <label>title</label>
        <input type="text" name="title">
        <label>cost</label>
        <input type="number" name="cost">
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
    <span th:text="'Количество продуктов: ' + ${products.size()}"/>
</div>

</body>
</html>